<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SE7 - Login</title>

    <link rel="stylesheet" href="../src/css/login.css">
</head>
<body>
    <section>
        <header>
            <img src="../img/logo.png">
            <h1>SISTEMA DE ESTAGIO E TRABALHO</h1>
        </header>
        <form>
            <!--<h1>Login:</h1>-->
            <input type="text" name="ra" class="inputRA" placeholder="RA">
            <input type="text" name="senha" class="inputSenha" placeholder="Senha">
            <div class="submit">
                <a href="index.html"><button type="button" class="btnSubmit">Enviar</button></a>
            </div>
        </form>
        <footer>
            <a href="https://ng.anchieta.br/aluno-online/#/resetsenha">Esqueceu sua senha?</a>
        </footer>
    </section>
</body>
</html>