<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE7</title>

    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../src/css/index.css">
    <link rel="stylesheet" href="../src/css/cardPerfil.css">
    <link rel="stylesheet" href="../src/css/seguirTags.css">
    <link rel="stylesheet" href="../src/css/scrollBar.css">
    <link rel="stylesheet" href="../src/css/responsivo.css">
</head>
<body>
    <nav>
        <img class="logo" src="../img/logo_f_azul.png">
        <ul class="nav-list">
            <li><a href="index.html"><i class="fas fa-home"></i><span>Home</span></a></li>
            <li><a href="seguirTags.html"><i class="fas fa-tags"></i><span>Seguir Tags</span></a></li>
            <li><a href="perfil.html"><i class="fas fa-user"></i><span>Meu Perfil</span></a></li>
        </ul>
        <div class="nav-right">
            <a href="#" id="logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>

    <section class="conteudo">
        <section class="cardPerfil">
            <header>
                <div class="fotoPerfil">
                    <div>
                        <img src="../img/user.png">
                    </div>
                </div>
                <div class="info">
                    <p class="nome">Samuel Mayer Rufino</p>
                    <p class="curso">Aluno de Ciencias da computação</p>
                </div>
            </header>
            <hr>
            <section class="sectionTags">
                <p>Seguindo:</p>
                <div class="tag" style="background-color: #00B9E1;">Ciencias da computação</div>
                <div class="tag" style="background-color: #8728FF;">Projetos</div>
                <div class="tag" style="background-color: #00F418;">Estagios</div>
                <div class="tag" style="background-color: #00CB82;">Desenvolvedor Junior</div>
                <div class="tag" style="background-color: #EF2929;">Front - End</div>
            </section>
        </section>

        <section class="cardPrincipal">
            <header>
                <h2>Curriculo</h2>
            </header>
            <div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </section>
    </section>
</body>
</html>
