<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE7</title>

    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../src/css/index.css">
    <link rel="stylesheet" href="../src/css/cardPerfil.css">
    <link rel="stylesheet" href="../src/css/seguirTags.css">
    <link rel="stylesheet" href="../src/css/scrollBar.css">
    <link rel="stylesheet" href="../src/css/responsivo.css">
</head>
<body>
    <nav>
        <img class="logo" src="../img/logo_f_azul.png">
        <ul class="nav-list">
            <li><a href="index.html"><i class="fas fa-home"></i><span>Home</span></a></li>
            <li><a href="seguirTags.html"><i class="fas fa-tags"></i><span>Seguir Tags</span></a></li>
            <li><a href="perfil.html"><i class="fas fa-user"></i><span>Meu Perfil</span></a></li>
        </ul>
        <div class="nav-right">
            <a href="#" id="logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>

    <section class="conteudo">
        <section class="cardPerfil">
            <header>
                <div class="fotoPerfil">
                    <div>
                        <img src="../img/user.png">
                    </div>
                </div>
                <div class="info">
                    <p class="nome">Samuel Mayer Rufino</p>
                    <p class="curso">Aluno de Ciencias da computação</p>
                </div>
            </header>
            <hr>
            <section class="sectionTags">
                <p>Seguindo:</p>
                <div class="tag" style="background-color: #00B9E1;">Ciencias da computação</div>
                <div class="tag" style="background-color: #8728FF;">Projetos</div>
                <div class="tag" style="background-color: #00F418;">Estagios</div>
                <div class="tag" style="background-color: #00CB82;">Desenvolvedor Junior</div>
                <div class="tag" style="background-color: #EF2929;">Front - End</div>
            </section>
            <br>
        </section>

        <section class="cardPrincipal">
            <header>
                <h2>Seguir Tags</h2>
            </header>
            <form action="#" class="typing-area">
                <input type="text" name="tag" class="input-field" placeholder="Procure uma tag..." autocomplete="off">
                <button><i class="fas fa-search"></i></button>
            </form>
            <section class="sectionTags">
                <div class="tag" style="background-color: #948DEF;">Projetos academicos</div>
                <div class="tag" style="background-color: #F5C160;">Administração</div>
                <div class="tag" style="background-color: #D63031;">Quimica</div>
                <div class="tag" style="background-color: #E84393;">Engenharia</div>
                <div class="tag" style="background-color: #2D3436;">Matematica</div>
                <div class="tag" style="background-color: #00CEC9;">Enfermagem</div>
                <div class="tag" style="background-color: #00B894;">Nutrição</div>
                <div class="tag" style="background-color: #6AB04C;">Contabilidade</div>
                <div class="tag" style="background-color: #686DE0;">Psicologia</div>
                <div class="tag" style="background-color: #F9CA24;">Pedagogia</div>
                <div class="tag" style="background-color: #00CB82;">Marketing</div>
                <div class="tag" style="background-color: #EE5A24;">Economia</div>
                <div class="tag" style="background-color: #009432;">Física</div>
                <div class="tag" style="background-color: #6F1E51;">Artes</div>
                <div class="tag" style="background-color: #130F40;">Direito</div>
                <div class="tag" style="background-color: #948DEF;">Projetos academicos</div>
                <div class="tag" style="background-color: #F5C160;">Administração</div>
                <div class="tag" style="background-color: #D63031;">Quimica</div>
                <div class="tag" style="background-color: #E84393;">Engenharia</div>
                <div class="tag" style="background-color: #2D3436;">Matematica</div>
                <div class="tag" style="background-color: #00CEC9;">Enfermagem</div>
                <div class="tag" style="background-color: #00B894;">Nutrição</div>
                <div class="tag" style="background-color: #6AB04C;">Contabilidade</div>
                <div class="tag" style="background-color: #686DE0;">Psicologia</div>
                <div class="tag" style="background-color: #F9CA24;">Pedagogia</div>
                <div class="tag" style="background-color: #00CB82;">Marketing</div>
                <div class="tag" style="background-color: #EE5A24;">Economia</div>
                <div class="tag" style="background-color: #009432;">Física</div>
                <div class="tag" style="background-color: #6F1E51;">Artes</div>
                <div class="tag" style="background-color: #130F40;">Direito</div>
                <div class="tag" style="background-color: #948DEF;">Projetos academicos</div>
                <div class="tag" style="background-color: #F5C160;">Administração</div>
                <div class="tag" style="background-color: #D63031;">Quimica</div>
                <div class="tag" style="background-color: #E84393;">Engenharia</div>
                <div class="tag" style="background-color: #2D3436;">Matematica</div>
                <div class="tag" style="background-color: #00CEC9;">Enfermagem</div>
                <div class="tag" style="background-color: #00B894;">Nutrição</div>
                <div class="tag" style="background-color: #6AB04C;">Contabilidade</div>
                <div class="tag" style="background-color: #686DE0;">Psicologia</div>
                <div class="tag" style="background-color: #F9CA24;">Pedagogia</div>
                <div class="tag" style="background-color: #00CB82;">Marketing</div>
                <div class="tag" style="background-color: #EE5A24;">Economia</div>
                <div class="tag" style="background-color: #009432;">Física</div>
                <div class="tag" style="background-color: #6F1E51;">Artes</div>
                <div class="tag" style="background-color: #130F40;">Direito</div>
                <div class="tag" style="background-color: #948DEF;">Projetos academicos</div>
                <div class="tag" style="background-color: #F5C160;">Administração</div>
                <div class="tag" style="background-color: #D63031;">Quimica</div>
                <div class="tag" style="background-color: #E84393;">Engenharia</div>
                <div class="tag" style="background-color: #2D3436;">Matematica</div>
                <div class="tag" style="background-color: #00CEC9;">Enfermagem</div>
                <div class="tag" style="background-color: #00B894;">Nutrição</div>
                <div class="tag" style="background-color: #6AB04C;">Contabilidade</div>
                <div class="tag" style="background-color: #686DE0;">Psicologia</div>
                <div class="tag" style="background-color: #F9CA24;">Pedagogia</div>
                <div class="tag" style="background-color: #00CB82;">Marketing</div>
                <div class="tag" style="background-color: #EE5A24;">Economia</div>
                <div class="tag" style="background-color: #009432;">Física</div>
                <div class="tag" style="background-color: #6F1E51;">Artes</div>
                <div class="tag" style="background-color: #130F40;">Direito</div>
            </section>
        </section>
    </section>
</body>
</html>
